<!-- <div class="content" role="main" style=background-color:rgb(255,255,255)> -->
  <!-- <demo-map >Demo-Map1 here</demo-map> -->
  <stage-comp [height]=5250 [width]=3300> StageComponent here</stage-comp>
  <div style="position: absolute; top: 55px; left: 50; z-index: 9999">
    <a href="http://localhost:4200/" target="_blank" rel="noopener">{{ title }}</a>
    <br/>
    <span>{{ timestamp }}</span>
    <br/>
    <button type="submit" id="fsOpenFileButton" onclick="showOpenFilePicker()">OpenFile</button>
    <br/>
    Game: <span id="group_name">----</span>
    <!-- P&P templte: single-sided = 2550 x 3300 [landscape, 7x5 EWtopo] or double-sided = 5100 x 3300 [portrait] -->
    <!-- 1 inch circle Premium Label Supply: [height]=3290 [width]=2530 -->
    <a id="download" download="image.png"><button type="button">Download</button></a>
  </div>
 <!-- </div> -->
